/* body styles */
#body {
    background: #fffdf5;
    font-family: Consolas, Arial, Helvetica, sans-serif;
}

/* div styles */
.jumbotron {
    background-color:transparent !important;
}

.bio-area {
     background-color: white;
     height: 35em;
}

.input-group {
    margin-top: 0.5em;
}



/* nav styles */
.hover-link:hover {
    color: gray;
    text-decoration: none;
    border-bottom: 3px solid #188c3c;

}

.about-link:hover {
    color: gray;
    text-decoration: none;
}

.current {
    border-bottom: 3px solid #188c3c;
    overflow: hidden;
}


/* heading styles */

.main-link {
    vertical-align: middle;
    color: black;
    font-size: 6em;

}

.about-link {
    line-height: 6em;
    color: black;
    font-size: 1.5em;

}
h1, a {
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}

.required-help {
margin-top: 3em;
color: rgba(24, 140, 60, 0.8); /* rgba version of #188c3c with 20% transparency */
font-weight: bold;
}

.required-help-slim {
color: rgba(24, 140, 60, 0.8);
font-weight: bold;
}


/* button styles */
input[type="submit"] {
    background-color: #188c3c;
    color: white;
    border: none;
    
}

input[type="submit"]:hover {
    background-color: rgba(24, 140, 60, 0.8);
    color: white;
    border: none;
    
}

.button {
    background-color: rgb(255, 156, 108);
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* footer styles */
footer {
   margin-top: 10em;
   text-align: center;
}

/* paddings */


#checkbox-display label {
    border-style: solid;
    border-width: 0.5px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    border-color: #188c3c;
    background-color: white;
    margin: 2px 2px 2px 2px;
    display: inline-block;
    float: left;
    width: 8em;
    text-align: center;
}

button {
    border-style: solid;
    border-width: 0.5px;
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    border-color: #188c3c;
    color: white !important;
    background-color: #188c3c;
    margin: 2px 2px 2px 2px;
    display: inline-block;
    float: left;
    width: 8em;
    text-align: center;
}

#checkbox-display label:hover {
    color: white;
    background-color: #188c3c;
    padding: 5px 5px 5px 5px;
}

.radio-display label {
			border-style: solid;
    border-width: 0.5px;
			padding: 5px 5px 5px 5px;
			border-radius: 15px;
    border-color: #188c3c;
    background-color: white;
			margin: 2px 2px 2px 2px;
			display: inline-block;
			float: left;
			width: 8em;
			text-align: center;
}

.radio-display-lg label {
			border-style: solid;
    border-width: 0.5px;
			padding: 5px 5px 5px 5px;
			border-radius: 15px;
    border-color: #188c3c;
    background-color: white;
			margin: 2px 2px 2px 2px;
			display: inline-block;
			float: left;
			width: 15em;
			text-align: center;
}

.radio-display label:hover {
    color: white;
    background-color: #188c3c;
}

.radio-display-lg label:hover {
    color: white;
    background-color: #188c3c;
}

label input {
	display: none;
}

label {
    text-align: center;
}

input:checked + span {
    color: white;
    background-color: #188c3c;
    font-size: 1em;
}

.split-top {
    margin-top: 5em;
}

.split-top-sm {
    margin-top: 1em;
}

/* Color class's for text */
.red {
	color: red;
}

.orange {
	color: orange;
}

.green {
	color: green;
}

.blue {
    color: rgb(0, 159, 236);
}

/* Other text modifications */
hr {
    background-color: gray !important;
    color: gray !important;
    border: solid 0.5px gray !important;
    height: 1px !important;
    width: 100% !important;
}

/* about page */
#about {
  font-family: Consolas, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

/* home page profiles page */
#profiles {
    padding-left: 0;
    padding-right: 0;
}

